@model Domain.Items

@{
    ViewData["Title"] = "Create";
}
<h4>Crear item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="categoria.id" class="control-label"></label>
                <select asp-for="categoria.id" class="form-control">
                    <option value=""></option>
                    @if (Model.listCategorias != null)
                    {
                        foreach (var item in Model.listCategorias)
                        {
                            <option value="@item.id">@item.descripcion</option>
                        }
                    }
                </select>
                <span asp-validation-for="categoria.id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="mascota.id" class="control-label"></label>
                <select asp-for="mascota.id" class="form-control">
                    <option value=""></option>
                    @if (Model.listMascotas != null)
                    {
                        foreach (var item in Model.listMascotas)
                        {
                            <option value="@item.id">@item.nombre</option>
                        }
                    }
                </select>
                <span asp-validation-for="mascota.id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear item" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
